# dependencies
node_modules

# build output
dist
dist-ssr

# logs
logs
*.log
npm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env
.env
.env.local
.env.*.local

# misc
*.local

# typescript incremental
*.tsbuildinfo
